/* https://youtu.be/exb2ab72Xhs - Hover effect tutorial */



@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors */
/* Primary */
:root{
    --Soft_blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
/* Neutral */
    --Very_dark_blue: hsl(217, 54%, 11%); /*(main BG)*/
    --dark_blue: hsl(216, 50%, 16%); /* (card BG*/
    --blue: hsl(215, 32%, 27%); /* (line) */
    --White: hsl(0, 0%, 100%);
}

.texthover:hover{
    color:var(--Cyan);
    cursor: pointer;
}


body{
    background-color: var(--Very_dark_blue);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    /* border: white 2px solid; */
    margin: 3em 1em;
    box-shadow: 0px 25px 36px rgba(0, 0, 0, 0.155);
    border-radius: 1em;
    color: var(--White);
    background-color: var(--dark_blue);
    display: flex;
    flex-direction: column;
    max-width: 20em;
}
.card .imagediv{
    padding: 1.3em;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card .imagediv img{
    display: block;
    border-radius: 0.5em;
    width: 100%;
}
.card .imagediv .image_overlay{
    padding: 7.3em;
    border-radius: 0.5em;
    position: absolute;
    top: 6%;
    left: 6.2%;
    width: 87.4%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(178, 100%, 50%, 0.451);
    opacity: 0;
}
.card .imagediv .image_overlay:hover{
    cursor: pointer;
    opacity: 1;
    
}


.card .text{
    padding: 0em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.card .text .header{
    font-size: 1.2em;
    font-weight: 600;
}

.card .text .info{
    margin: 1em 0em;
}
.card .text .values{
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0em;
    align-items: center;
}
.card .text .values .values-text{
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    
}
.card .text .values img{
    width: 100%;
    padding-right: 0.4em;
}

.eth{
    opacity: 0.8;
    font-weight: 600;
    color: var(--Cyan);
    flex: 1;
}

.faded{
    opacity: 0.4;
}

.hl{
    margin: 0.6em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hl hr{
    opacity: 0.1;
    width: 88%;
}

.creationdiv{
    padding: 0.7em 1.5em;
    width: 17em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.creationdiv .creatorimg{
    width: 2em;
}
.creationdiv .creatorimg img{
    border-radius: 100%;
    border: 1px solid white;
    width: 100%;
}


.attribution{
    width: 100%;
    display: flex;
    color: var(--White);
    flex-direction: column;
    align-items: center;
    margin: 2em 5em;
}
.attribution a{
    color: var(--Soft_blue);
    text-decoration: none;
}